# CSV files

CSV stands for “Comma Separated Values.” 

It is the simplest form of storing data in tabular form as plain text for better readability, easier understanding, and faster processing. 

* The first line of a CSV file is the <b>header</b>. It contains the names of the fields/features which are shown on top as the column names in the file.
* After the header, each line of the file is an <b>observation/a record</b>. The values of a record are separated by “commas.”

## Reading a csv file

In [1]:
import csv
rows = []
with open("username.csv", 'r') as file: # open the file
    csvreader = csv.reader(file)  # create reader object
    print(list(csvreader))
csvreader

[['Username', ' Identifier', 'First name', 'Last name'], ['booker12', '9012', 'Rachel', 'Booker'], ['grey07', '2070', 'Laura', 'Grey'], ['johnson81', '4081', 'Craig', 'Johnson'], ['jenkins46', '9346', 'Mary', 'Jenkins'], ['smith79', '5079', 'Jamie', 'Smith']]

In [2]:
import csv
rows = []
with open("username.csv", 'r') as file:
    csvreader = csv.reader(file)
    header = next(csvreader)
    for row in csvreader:
        rows.append(row)
print(header)
print(rows)

['Username', ' Identifier', 'First name', 'Last name']
[['booker12', '9012', 'Rachel', 'Booker'], ['grey07', '2070', 'Laura', 'Grey'], ['johnson81', '4081', 'Craig', 'Johnson'], ['jenkins46', '9346', 'Mary', 'Jenkins'], ['smith79', '5079', 'Jamie', 'Smith']]

In [3]:
with open('username.csv', 'r') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
       print(row)

{'Username': 'booker12', ' Identifier': '9012', 'First name': 'Rachel', 'Last name': 'Booker'}
{'Username': 'grey07', ' Identifier': '2070', 'First name': 'Laura', 'Last name': 'Grey'}
{'Username': 'johnson81', ' Identifier': '4081', 'First name': 'Craig', 'Last name': 'Johnson'}
{'Username': 'jenkins46', ' Identifier': '9346', 'First name': 'Mary', 'Last name': 'Jenkins'}
{'Username': 'smith79', ' Identifier': '5079', 'First name': 'Jamie', 'Last name': 'Smith'}

In [4]:
reader

In [6]:
with open('username.csv') as file:
    content = file.readlines()
content

['Username, Identifier,First name,Last name\n',
 'booker12,9012,Rachel,Booker\n',
 'grey07,2070,Laura,Grey\n',
 'johnson81,4081,Craig,Johnson\n',
 'jenkins46,9346,Mary,Jenkins\n',
 'smith79,5079,Jamie,Smith\n']

In [7]:
header = content[:1]
rows = content[1:]
print(header)
print(rows)

['Username, Identifier,First name,Last name\n']
['booker12,9012,Rachel,Booker\n', 'grey07,2070,Laura,Grey\n', 'johnson81,4081,Craig,Johnson\n', 'jenkins46,9346,Mary,Jenkins\n', 'smith79,5079,Jamie,Smith\n']

In [8]:
import pandas as pd

data= pd.read_csv('username.csv')
data

    Username   Identifier First name Last name
0   booker12         9012     Rachel    Booker
1     grey07         2070      Laura      Grey
2  johnson81         4081      Craig   Johnson
3  jenkins46         9346       Mary   Jenkins
4    smith79         5079      Jamie     Smith

## Writing to a CSV file

In [9]:
header = ['Name', 'M1 Score', 'M2 Score']
data = [['Alex', 62, 80], ['Brad', 45, 56], ['Joey', 85, 98]]

In [10]:
filename = 'Students_Data.csv'
with open(filename, 'w', newline="") as file:
    csvwriter = csv.writer(file) # 2. create a csvwriter object
    csvwriter.writerow(header) # 4. write the header
    csvwriter.writerows(data) # 5. write the rest of the data

In [12]:
header = ['Name', 'M1 Score', 'M2 Score']
data = [['Alex', 62, 80], ['Brad', 45, 56], ['Joey', 85, 98]]
data = pd.DataFrame(data, columns=header)
data.to_csv('Stu_data.csv', index=True)