* A parameter is a variable defined by a method.
* An argument is a value passed to method during its call.
* By default, arguments will be assigned to parameters in the order they are supplied.

### Positional Arguments
Position of arguments in function call determines how it is assigned to parameters.

In [ ]:
def student(name,age, grade, section):
    print(f"Name = {name}")
    print(f"Age = {age}")
    print(f"Grade = {grade}")
    print(f"Section = {section}")

In [ ]:
student("Sony", 17, 12, 'B')

Name = Sony
Age = 17
Grade = 12
Section = B

In [ ]:
student("Sony", 'B', 12, 17)

Name = Sony
Age = B
Grade = 12
Section = 17

### Keyword Arguments

Arguments can be passed in the form of key-value pair.In that case order of arguments doesn't matter.

In [ ]:
student(name="Sony", section='B', age=17, grade='C')

Name = Sony
Age = 17
Grade = C
Section = B

* Make sure argument names and parameter names are same.
* keyword arguments should always come after positional argument.
* we cannot specify values for an argument more than once

In [ ]:
student("Sony", section='B', age=17, grade='C')

Name = Sony
Age = 17
Grade = C
Section = B

In [ ]:
student("Sony", 17, section='B', grade='C')

Name = Sony
Age = 17
Grade = C
Section = B

In [ ]:
student(section='B', grade='C', "Sony", 17)

SyntaxError: ignored

In [ ]:
student("Sony", 17, age=16, section='B', grade='C')

TypeError: ignored

### Default arguments

A parameter having default value in function header is known as default parameter.

* It is optional to supply value for default parameter through function call.
* Non default parameter cannot follow default parameter.

In [ ]:
def student(name, age, grade, section='A'):
    print(f"Name = {name}")
    print(f"Age = {age}")
    print(f"Grade = {grade}")
    print(f"Section = {section}")

In [ ]:
student("Sony", 17, 12)

Name = Sony
Age = 17
Grade = 12
Section = A

In [ ]:
student("Sony", 17, 12, 'C')

Name = Sony
Age = 17
Grade = 12
Section = C

In [ ]:
student("Sony", 17, section='B', grade='C')

Name = Sony
Age = 17
Grade = C
Section = B

In [ ]:
student("Sony", 17, grade='C')

Name = Sony
Age = 17
Grade = C
Section = A

In [ ]:
def student(name, age, section='A', grade):
    print(f"Name = {name}")
    print(f"Age = {age}")
    print(f"Grade = {grade}")
    print(f"Section = {section}")

SyntaxError: ignored

### Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition. This way the function will receive a tuple of arguments.

In [ ]:
def student(*args):
    print(args)
    print(type(args))

In [ ]:
student("ansuman", "kaira", "annie", "ram")

('ansuman', 'kaira', 'annie', 'ram')
<class 'tuple'>

In [ ]:
def student(*names):
    print(names)
    for name in names:
        print(name)

In [ ]:
student("ansuman", "kaira", "annie", "ram")

('ansuman', 'kaira', 'annie', 'ram')
ansuman
kaira
annie
ram

In [ ]:
student("ansuman", "kaira", "annie", "akash", "spide", "marshall", "bhim")

('ansuman', 'kaira', 'annie', 'akash', 'spide', 'marshall', 'bhim')
ansuman
kaira
annie
akash
spide
marshall
bhim

In [ ]:
def student(*names, age, grade= 12, section='A'):
    print(f"Name = {names}")
    print(f"Age = {age}")
    print(f"Grade = {grade}")
    print(f"Section = {section}")

In [ ]:
student("ansuman", "kaira", "annie", "akash", "spide", "marshall", "bhim", age = 17)

Name = ('ansuman', 'kaira', 'annie', 'akash', 'spide', 'marshall', 'bhim')
Age = 17
Grade = 12
Section = A

In [ ]:
student("ansuman", "kaira", "annie", "akash", "spide", "marshall", "bhim", 17)

TypeError: ignored

* any positional argument has to be specified before arbitary arguments

In [ ]:
def student(age, *names, grade= 12, section='A'):
    print(f"Name = {names[0]}")
    print(f"Age = {age}")
    print(f"Grade = {grade}")
    print(f"Section = {section}")

In [ ]:
student(17, "ansuman", "kaira", "annie", "akash", "spide", "marshall", "bhim")

Name = ansuman
Age = 17
Grade = 12
Section = A

### Arbitary keyword arguments, **kwargs
Pass arbitary key, value pair (keyword) arguments.

In [ ]:
def student(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print(f"Name = {kwargs['name']}")
    print(f"Age = {kwargs['age']}")
    print(f"Grade = {kwargs['grade']}")
    print(f"Section = {kwargs['section']}")

In [ ]:
student(name="Sony", section='B', age=17, grade='C')

{'name': 'Sony', 'section': 'B', 'age': 17, 'grade': 'C'}
<class 'dict'>
Name = Sony
Age = 17
Grade = C
Section = B

In [ ]:
def student(name, **kwargs):
    print(kwargs)
    print(f"Name = {name}")
    print(f"Age = {kwargs['age']}")
    print(f"Grade = {kwargs['grade']}")
    print(f"Section = {kwargs['section']}")

In [ ]:
student("Sony", section='B', age=17, grade='C')

{'section': 'B', 'age': 17, 'grade': 'C'}
Name = Sony
Age = 17
Grade = C
Section = B

In [ ]:
def student(name, **kwargs, age=17):
    print(kwargs)

SyntaxError: ignored

In [ ]:
student("Sony", section='B', grade='C', age=17)

In [ ]:
def student(name, age=17, **kwargs):
    print(kwargs)
    print(f"Name = {name}")
    print(f"Age = {age}")
    print(f"Grade = {kwargs['grade']}")
    print(f"Section = {kwargs['section']}")

In [ ]:
student("Sony", section='B', grade='C')

{'section': 'B', 'grade': 'C'}
Name = Sony
Age = 17
Grade = C
Section = B

In [ ]:
student("Sony", section='B', age=18, grade='C')

{'section': 'B', 'grade': 'C'}
Name = Sony
Age = 18
Grade = C
Section = B

In [ ]:
def student(*details, **kwargs):
    print(kwargs)
    print(f"Name = {details[0]}")
    print(f"Age = {details[1]}")
    print(f"Grade = {kwargs['grade']}")
    print(f"Section = {kwargs['section']}")

In [ ]:
student("Sony", 1, section='B', grade='C')

{'section': 'B', 'grade': 'C'}
Name = Sony
Age = 1
Grade = C
Section = B

* positional argument should be before keyword argument
* default argument should be before keyword argument
* arbitary list arguments should be before keyword arguments