# Encapsulation

Encapsulation is one of the key concepts of object-oriented languages. Encapsulation is used to restrict access to methods and variables. In encapsulation, code and data are wrapped together within a single unit from being modified by accident.

In encapsulation, the variables of a class will be hidden , and can be accessed only through the methods/objects of the current class.

##  Access Modifiers

There are 3 types of access modifiers for a class in Python. These access modifiers define how the members of the class can be accessed. 

* Public
* Protected
* Private

### Public

The public member is accessible from inside or outside the class(through an instance).

After inheriting also public member will be accessible to subclass instance and methods.

In [155]:
class Employee:
  def __init__(self, name, code, designation):
    self.employee_name = name
    self.employee_code = code
    self.employee_designation = designation

  def employee_details(self):
    print("*****Employee Details****** ")
    print(f"Name = {self.employee_name}")
    print(f"Code = {self.employee_code}")
    print(f"Designation = {self.employee_designation}")

In [156]:
emp1 = Employee("Karamdeep", "AK100", "Software engineer")
emp2 = Employee("Abel", "AK120", "Associate Software engineer")
emp3 = Employee("Vetri", "AK220", "Project manager")

In [157]:
emp1.employee_details()

*****Employee Details******
Name = Karamdeep
Code = AK100
Designation = Software engineer

In [158]:
emp2.employee_details()

*****Employee Details******
Name = Abel
Code = AK120
Designation = Associate Software engineer

In [159]:
emp3.employee_details()

*****Employee Details******
Name = Vetri
Code = AK220
Designation = Project manager

In [160]:
employee_name = "Eldo"   # local variable created without affecting the value attached with an instance

In [161]:
emp1.employee_details()
emp2.employee_details()
emp3.employee_details()

*****Employee Details******
Name = Karamdeep
Code = AK100
Designation = Software engineer
*****Employee Details******
Name = Abel
Code = AK120
Designation = Associate Software engineer
*****Employee Details******
Name = Vetri
Code = AK220
Designation = Project manager

In [162]:
emp1.employee_name = "Eldo"

In [163]:
emp1.employee_details()

*****Employee Details******
Name = Eldo
Code = AK100
Designation = Software engineer

In [164]:
employee_details()  # method cannot be called without an instance

NameError: ignored

In [165]:
dir(emp1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'employee_code',
 'employee_designation',
 'employee_details',
 'employee_name']

In [166]:
emp1.employee_name= "Ram"   # only value of that instance is affected

In [167]:
emp1.employee_details()
emp2.employee_details()
emp3.employee_details()

*****Employee Details******
Name = Ram
Code = AK100
Designation = Software engineer
*****Employee Details******
Name = Abel
Code = AK120
Designation = Associate Software engineer
*****Employee Details******
Name = Vetri
Code = AK220
Designation = Project manager

In [168]:
class Intern(Employee):
  def __init__(self,name, code, designation, duration):
    super().__init__(name, code, designation)
    self.duration = duration

int1 = Intern("Logo", "AK12132", "Intern", 6)

In [169]:
int1.employee_details()

*****Employee Details******
Name = Logo
Code = AK12132
Designation = Intern

### Protected

The protected member is accessible from inside the class and its sub-class. 

Protected mambers can be inherited and available to subclass.

Define a protected member by prefixing the member name with an underscore, for example âˆ’

In [170]:
class Employee:
  def __init__(self, name, code, designation, sal):
    self.employee_name = name
    self.employee_code = code
    self.employee_designation = designation
    self._employee_salary = sal    

  def employee_details(self):
    print("*****Employee Details****** ")
    print(f"Name = {self.employee_name}")
    print(f"Code = {self.employee_code}")
    print(f"Designation = {self.employee_designation}") 
    print(f"Salary = {self._employee_salary}")  

emp1 = Employee("Karamdeep", "AK100", "Software engineer", 800000)
emp2 = Employee("Abel", "AK120", "Associate Software engineer", 500000)
emp3 = Employee("Vetri", "AK220", "Project manager", 1500000)

In [171]:
emp1.employee_details()

*****Employee Details******
Name = Karamdeep
Code = AK100
Designation = Software engineer
Salary = 800000

In [172]:
dir(emp1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_employee_salary',
 'employee_code',
 'employee_designation',
 'employee_details',
 'employee_name']

In [173]:
emp1._employee_salary

800000

In [174]:
emp1._employee_salary = 700000000

In [175]:
emp1.employee_details()

*****Employee Details******
Name = Karamdeep
Code = AK100
Designation = Software engineer
Salary = 700000000

In [176]:
class Intern(Employee):
  def __init__(self, name, code, designation, sal, duration):
    self.duration = duration
    super().__init__(name, code, designation, sal)

  def intern_details(self):
    self.employee_details()
    print(f"Duration = {self.duration}")

In [177]:
int1 = Intern("Amit", "Ik100", "Intern", 200000, 30)

In [178]:
int1.employee_details()

*****Employee Details******
Name = Amit
Code = Ik100
Designation = Intern
Salary = 200000

In [179]:
int1.intern_details()

*****Employee Details******
Name = Amit
Code = Ik100
Designation = Intern
Salary = 200000
Duration = 30

In [180]:
dir(int1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_employee_salary',
 'duration',
 'employee_code',
 'employee_designation',
 'employee_details',
 'employee_name',
 'intern_details']

In [181]:
int1._employee_salary

200000

### Private

The private member is accessible only inside class and not through instance.

It won't be available to subclass instance or methods but is accessable through parent class methods.

Define a private member by prefixing the member name with two underscores, for example __

In [182]:
class Employee:
  def __init__(self, name, code, designation, sal):
    self.employee_name = name
    self.employee_code = code
    self.employee_designation = designation
    self.__employee_salary = sal

  def __get_salary_details(self):
    print(f"Salary = {self.__employee_salary}")

  def employee_details(self):
    print("*****Employee Details****** ")
    print(f"Name = {self.employee_name}")
    print(f"Code = {self.employee_code}")
    print(f"Designation = {self.employee_designation}")    
    self.__get_salary_details()

emp1 = Employee("Karamdeep", "AK100", "Software engineer", 800000)
emp2 = Employee("Abel", "AK120", "Associate Software engineer", 500000)
emp3 = Employee("Vetri", "AK220", "Project manager", 1500000)

In [183]:
emp1.employee_code

'AK100'

In [184]:
emp1.employee_details()

*****Employee Details******
Name = Karamdeep
Code = AK100
Designation = Software engineer
Salary = 800000

In [185]:
emp1.__employee_salary

AttributeError: ignored

In [186]:
dir(emp1)

['_Employee__employee_salary',
 '_Employee__get_salary_details',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'employee_code',
 'employee_designation',
 'employee_details',
 'employee_name']

In Python, there is a concept called name mangling. Python changes the names of the variables that start with a double underscore. So, any class variable whose name starts with a double underscore will change to the form _className__variableName.

In [188]:
emp1.__employee_salary = 3000000

In [189]:
emp1.employee_details()

*****Employee Details******
Name = Karamdeep
Code = AK100
Designation = Software engineer
Salary = 800000

In [190]:
dir(emp1)

['_Employee__employee_salary',
 '_Employee__get_salary_details',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__employee_salary',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'employee_code',
 'employee_designation',
 'employee_details',
 'employee_name']

In [191]:
emp1._Employee__employee_salary

800000

In [193]:
emp1._Employee__employee_salary = 5000000

In [194]:
emp1.employee_details()

*****Employee Details******
Name = Karamdeep
Code = AK100
Designation = Software engineer
Salary = 5000000

In [195]:
emp1.__get_salary_details()

AttributeError: ignored

In [196]:
emp1._Employee__get_salary_details()

Salary = 5000000

The purpose of using a double underscore is not to restrict from accessing the variable or method. It is to tell that the particular variable or method is meant to be bound inside the class only.

In [197]:
class Intern(Employee):
  def __init__(self, name, code, designation, sal, duration):
    self.duration = duration
    super().__init__(name, code, designation, sal)

  def intern_details(self):
    self.employee_details()
    print(f"Duration = {self.duration}")

In [198]:
int1 = Intern("Amit", "Ik100", "Intern", 40000, 30)

In [199]:
int1.intern_details()

*****Employee Details******
Name = Amit
Code = Ik100
Designation = Intern
Salary = 40000
Duration = 30

In [200]:
int1.employee_details()

*****Employee Details******
Name = Amit
Code = Ik100
Designation = Intern
Salary = 40000

In [201]:
int1.__employee_salary

AttributeError: ignored

In [202]:
dir(int1)

['_Employee__employee_salary',
 '_Employee__get_salary_details',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'duration',
 'employee_code',
 'employee_designation',
 'employee_details',
 'employee_name',
 'intern_details']

In [203]:
int1._Employee__employee_salary

40000

In [204]:
class Intern(Employee):
  def __init__(self, name, code, designation, sal, duration):
    self.duration = duration
    super().__init__(name, code, designation, sal)

  def intern_details(self):
    self.employee_details()
    print(f"Duration = {self.duration}")

  def get_salary(self):
    print(self.__employee_salary)

In [205]:
int2 = Intern("Amit", "Ik100", "Intern", 40000, 30)

In [206]:
int2.get_salary()  # not able to access private member in subclass through subclass method. It is accessible through parent class method.

AttributeError: ignored