# Reduce

The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along and return the cumulative effect of this function on the sequence.This function is defined in “functools” module.

Working :  

1. At first step, first two elements of sequence are picked and the result is obtained.
2. Next step is to apply the same function to the previously attained result and the number just succeeding the second element and the result is again stored.
3. This process continues till no more elements are left in the container.
The final returned result is returned and printed on console.

In [ ]:
fruits = ['apple', 'mango', 'strawberry']

In [ ]:
from functools import reduce
import operator

reduce(operator.add, fruits)

'applemangostrawberry'

In [ ]:
numbers = [1000, 2000, 34, 57, -234]
reduce(operator.add, numbers)

2857

In [ ]:
sum(numbers)

2857

# Comprehension

Comprehensions in Python provide us with a short and concise way to construct new sequences (such as lists, set, dictionary etc.) using sequences which have been already defined. Python supports the following 4 types of comprehensions:

1. List Comprehensions
2. Dictionary Comprehensions
3. Set Comprehensions
4. Generator Comprehensions

In [ ]:
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]

new_list = [number for number in input_list]
  
new_list

[1, 2, 3, 4, 4, 5, 6, 7, 7]

In [ ]:
new_set = {num for num in input_list}
new_set

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
squares = []
for number in input_list:
  squares.append(number*number)

squares

[1, 4, 9, 16, 16, 25, 36, 49, 49]

In [ ]:
square_numbers = [number*number for number in input_list]
square_numbers

[1, 4, 9, 16, 16, 25, 36, 49, 49]

In [ ]:
square_numbers1 = {number*number for number in input_list}
square_numbers1

{1, 4, 9, 16, 25, 36, 49}

In [ ]:
squares = []
for number in input_list:
  if number%2 ==0:
    squares.append(number*number)

squares

[4, 16, 16, 36]

In [ ]:
even_squares = [number*number for number in input_list if number%2==0]
even_squares

[4, 16, 16, 36]

In [ ]:
even_squares = {number*number for number in input_list if number%2==0}
even_squares

{4, 16, 36}

In [ ]:
d = {number: number*number for number in input_list}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
type(d)

dict

In [ ]:
even_squares = {num: num*num for num in input_list if num%2==0}
even_squares

{2: 4, 4: 16, 6: 36}

# Zip

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

<br>zip(iterator1, iterator2, iterator3 ...)

In [ ]:
numbers = [1, 2, 3, 4, 5]
number_names = ['one', 'two', 'three', 'four', 'five']

In [ ]:
zip(numbers, number_names)

In [ ]:
for item in zip(numbers, number_names):
  print(item)

(1, 'one')
(2, 'two')
(3, 'three')
(4, 'four')
(5, 'five')

In [ ]:
numbers = [1, 2, 3, 4]
number_names = ['one', 'two', 'three', 'four', 'five']
roman_numbers = ('I', 'II', 'III')

list(zip(numbers, number_names, roman_numbers))

[(1, 'one', 'I'), (2, 'two', 'II'), (3, 'three', 'III')]