In [ ]:
type([1, 2, 3, 4])

### range() function

The Python range() function returns a sequence of numbers.
<br>Syntax: range(start, stop, step)
<br>start- optional, default: 0
<br>stop- range() returns a sequence till stop-1
<br>step- optional, default: 1

In [ ]:
range(5) # only one parameter, hence stop=5

In [ ]:
type(range(5))

In [ ]:
list(range(5))

In [ ]:
type([0, 1, 2, 3, 4])

In [ ]:
range(10,20)  # two parameters, hence start= 10 and stop=20

range(10, 20)

In [ ]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
range(10, 20, 2) # three parameters, which means start= 10, stop=20 and step= 2

range(10, 20, 2)

In [ ]:
list(range(10, 20, 2))

[10, 12, 14, 16, 18]

In [ ]:
list(range(10, 1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
list(range(10, 1, -2))

[10, 8, 6, 4, 2]

In [ ]:
list(range(10, 1))

[]

In [ ]:
list(range(100, 1000, 60))

[100, 160, 220, 280, 340, 400, 460, 520, 580, 640, 700, 760, 820, 880, 940]

In [ ]:
list(range(0,40,5))

[0, 5, 10, 15, 20, 25, 30, 35]

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
i = 0
while i<40:
  print(i, end=",")
  i = i+5

0,5,10,15,20,25,30,35,

In [ ]:
for i in range(0,40,5):
  print(i, end=",")

0,5,10,15,20,25,30,35,

In [ ]:
for file in ["file1.txt", "file2.txt", "123.txt", "1234.ipynb"]:
  print(file)
  print("123")
  sum = 4 +5
  print(sum)

file1.txt
123
9
file2.txt
123
9
123.txt
123
9
1234.ipynb
123
9

## for loop

A for loop is used for iterating over a sequence.

In [ ]:
for num in range(5, 20, 3):
    print(num)

5
8
11
14
17

In [ ]:
for num in range(1, 11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
s = "Python"
for ch in s:
    print(ch)

P
y
t
h
o
n

## in/ not in operator

Known as menbership operators.
Checks if an item is present/ not present in a sequence and returns True or False.

In [ ]:
'@' not in "liji.gmail.com"   # True if not present

True

In [ ]:
'a' not in 'Python'

True

In [ ]:
3 in range(0,10,3)     # True if present

True

In [ ]:
4 not in range(1,4)

True

### break and continue with for loop

In [ ]:
for i in range(10, 20):
    if i == 15:
        break    # exit from loop
    print(i)

10
11
12
13
14

In [ ]:
for i in range(10, 20):
    if i == 15:
        continue   # continue to beginning of loop
    print(i)

10
11
12
13
14
16
17
18
19

### else with for loop

else in a loop is executed only if the loop completes execution without any interruption in between

In [ ]:
for ch in "hbm,b.nk.jnl.nlkjlfsredtyughh;lkjl;kjlkjlkhkhfdyuruyohl;kjjgfgkhjghjkljb":
    if ch=='a':
        break    # if this break is executed else for be executed
    print(ch)
else:
    print("a is not there")

print("I am out")

h
b
m
,
b
.
n
k
.
j
n
l
.
n
l
k
j
l
f
s
r
e
d
t
y
u
g
h
h
;
l
k
j
l
;
k
j
l
k
j
l
k
h
k
h
f
d
y
u
r
u
y
o
h
l
;
k
j
j
g
f
g
k
h
j
g
h
j
k
l
j
b
a is not there
I am out

In [ ]:
for num in range(1, 10, 2):
    if num==2:
        break
    print(num)
else:
    print("2 not in the range")

1
3
5
7
9
2 not in the range

### Else with while

In [ ]:
blacklisted = ["user1", "user2", "user3"]
count = 1
while count<=3:
  user_name = input("Enter user name")
  if user_name in blacklisted:
    print("Blacklisted")
    break
  password = input("Enter password") 
  if user_name == "admin"  and password == "admin":
    print("Logged in successfully")
    break
  else:
    print("Incorrect user name or password")
  count+=1
else:
  print("Login unsuccessful")

# Assessment

Write a program to generate 1000 employee ids.
Format: ARKXXXX where XXXX has to be replaced with digits. Employee ids ending with 83 is in valid. The following employee ids are reserved and hence these also should not be generated.
reserved :ARK0000-ARK0125, ARK2222- ARK2500, ARK1234, ARK3000

In [ ]:
text_part = "ARK"
count = 0
for i in range(2000):
  number_part = i
  if i in range(0,126) or i in range(2222,2501) or i in [1234, 3000]:
    continue
  count += 1
  if len(str(number_part)) == 1:
    employee_id = text_part+"000"+str(number_part)
  elif len(str(number_part)) == 2:
    employee_id = text_part+"00"+str(number_part)
  elif len(str(number_part)) == 3:
    employee_id = text_part+"0"+str(number_part)
  else:
    employee_id = text_part+str(number_part)
  if i% 20 == 0:
    print(employee_id)
  else:
    print(employee_id, end = " ")
  if count == 1000:
    break

ARK0126 ARK0127 ARK0128 ARK0129 ARK0130 ARK0131 ARK0132 ARK0133 ARK0134 ARK0135 ARK0136 ARK0137 ARK0138 ARK0139 ARK0140
ARK0141 ARK0142 ARK0143 ARK0144 ARK0145 ARK0146 ARK0147 ARK0148 ARK0149 ARK0150 ARK0151 ARK0152 ARK0153 ARK0154 ARK0155 ARK0156 ARK0157 ARK0158 ARK0159 ARK0160
ARK0161 ARK0162 ARK0163 ARK0164 ARK0165 ARK0166 ARK0167 ARK0168 ARK0169 ARK0170 ARK0171 ARK0172 ARK0173 ARK0174 ARK0175 ARK0176 ARK0177 ARK0178 ARK0179 ARK0180
ARK0181 ARK0182 ARK0183 ARK0184 ARK0185 ARK0186 ARK0187 ARK0188 ARK0189 ARK0190 ARK0191 ARK0192 ARK0193 ARK0194 ARK0195 ARK0196 ARK0197 ARK0198 ARK0199 ARK0200
ARK0201 ARK0202 ARK0203 ARK0204 ARK0205 ARK0206 ARK0207 ARK0208 ARK0209 ARK0210 ARK0211 ARK0212 ARK0213 ARK0214 ARK0215 ARK0216 ARK0217 ARK0218 ARK0219 ARK0220
ARK0221 ARK0222 ARK0223 ARK0224 ARK0225 ARK0226 ARK0227 ARK0228 ARK0229 ARK0230 ARK0231 ARK0232 ARK0233 ARK0234 ARK0235 ARK0236 ARK0237 ARK0238 ARK0239 ARK0240
ARK0241 ARK0242 ARK0243 ARK0244 ARK0245 ARK0246 ARK0247 ARK0248 ARK0249 ARK0250 ARK0251 ARK0252 ARK0253 ARK0254 ARK0255 ARK0256 ARK0257 ARK0258 ARK0259 ARK0260
ARK0261 ARK0262 ARK0263 ARK0264 ARK0265 ARK0266 ARK0267 ARK0268 ARK0269 ARK0270 ARK0271 ARK0272 ARK0273 ARK0274 ARK0275 ARK0276 ARK0277 ARK0278 ARK0279 ARK0280
ARK0281 ARK0282 ARK0283 ARK0284 ARK0285 ARK0286 ARK0287 ARK0288 ARK0289 ARK0290 ARK0291 ARK0292 ARK0293 ARK0294 ARK0295 ARK0296 ARK0297 ARK0298 ARK0299 ARK0300
ARK0301 ARK0302 ARK0303 ARK0304 ARK0305 ARK0306 ARK0307 ARK0308 ARK0309 ARK0310 ARK0311 ARK0312 ARK0313 ARK0314 ARK0315 ARK0316 ARK0317 ARK0318 ARK0319 ARK0320
ARK0321 ARK0322 ARK0323 ARK0324 ARK0325 ARK0326 ARK0327 ARK0328 ARK0329 ARK0330 ARK0331 ARK0332 ARK0333 ARK0334 ARK0335 ARK0336 ARK0337 ARK0338 ARK0339 ARK0340
ARK0341 ARK0342 ARK0343 ARK0344 ARK0345 ARK0346 ARK0347 ARK0348 ARK0349 ARK0350 ARK0351 ARK0352 ARK0353 ARK0354 ARK0355 ARK0356 ARK0357 ARK0358 ARK0359 ARK0360
ARK0361 ARK0362 ARK0363 ARK0364 ARK0365 ARK0366 ARK0367 ARK0368 ARK0369 ARK0370 ARK0371 ARK0372 ARK0373 ARK0374 ARK0375 ARK0376 ARK0377 ARK0378 ARK0379 ARK0380
ARK0381 ARK0382 ARK0383 ARK0384 ARK0385 ARK0386 ARK0387 ARK0388 ARK0389 ARK0390 ARK0391 ARK0392 ARK0393 ARK0394 ARK0395 ARK0396 ARK0397 ARK0398 ARK0399 ARK0400
ARK0401 ARK0402 ARK0403 ARK0404 ARK0405 ARK0406 ARK0407 ARK0408 ARK0409 ARK0410 ARK0411 ARK0412 ARK0413 ARK0414 ARK0415 ARK0416 ARK0417 ARK0418 ARK0419 ARK0420
ARK0421 ARK0422 ARK0423 ARK0424 ARK0425 ARK0426 ARK0427 ARK0428 ARK0429 ARK0430 ARK0431 ARK0432 ARK0433 ARK0434 ARK0435 ARK0436 ARK0437 ARK0438 ARK0439 ARK0440
ARK0441 ARK0442 ARK0443 ARK0444 ARK0445 ARK0446 ARK0447 ARK0448 ARK0449 ARK0450 ARK0451 ARK0452 ARK0453 ARK0454 ARK0455 ARK0456 ARK0457 ARK0458 ARK0459 ARK0460
ARK0461 ARK0462 ARK0463 ARK0464 ARK0465 ARK0466 ARK0467 ARK0468 ARK0469 ARK0470 ARK0471 ARK0472 ARK0473 ARK0474 ARK0475 ARK0476 ARK0477 ARK0478 ARK0479 ARK0480
ARK0481 ARK0482 ARK0483 ARK0484 ARK0485 ARK0486 ARK0487 ARK0488 ARK0489 ARK0490 ARK0491 ARK0492 ARK0493 ARK0494 ARK0495 ARK0496 ARK0497 ARK0498 ARK0499 ARK0500
ARK0501 ARK0502 ARK0503 ARK0504 ARK0505 ARK0506 ARK0507 ARK0508 ARK0509 ARK0510 ARK0511 ARK0512 ARK0513 ARK0514 ARK0515 ARK0516 ARK0517 ARK0518 ARK0519 ARK0520
ARK0521 ARK0522 ARK0523 ARK0524 ARK0525 ARK0526 ARK0527 ARK0528 ARK0529 ARK0530 ARK0531 ARK0532 ARK0533 ARK0534 ARK0535 ARK0536 ARK0537 ARK0538 ARK0539 ARK0540
ARK0541 ARK0542 ARK0543 ARK0544 ARK0545 ARK0546 ARK0547 ARK0548 ARK0549 ARK0550 ARK0551 ARK0552 ARK0553 ARK0554 ARK0555 ARK0556 ARK0557 ARK0558 ARK0559 ARK0560
ARK0561 ARK0562 ARK0563 ARK0564 ARK0565 ARK0566 ARK0567 ARK0568 ARK0569 ARK0570 ARK0571 ARK0572 ARK0573 ARK0574 ARK0575 ARK0576 ARK0577 ARK0578 ARK0579 ARK0580
ARK0581 ARK0582 ARK0583 ARK0584 ARK0585 ARK0586 ARK0587 ARK0588 ARK0589 ARK0590 ARK0591 ARK0592 ARK0593 ARK0594 ARK0595 ARK0596 ARK0597 ARK0598 ARK0599 ARK0600
ARK0601 ARK0602 ARK0603 ARK0604 ARK0605 ARK0606 ARK0607 ARK0608 ARK0609 ARK0610 ARK0611 ARK0612 ARK0613 ARK0614 ARK0615 ARK0616 ARK0617 ARK0618 ARK0619 ARK0620
ARK0621 ARK0622 ARK0623 ARK0624 ARK0625 ARK0626 ARK0627 ARK0628 ARK0629 ARK0630 ARK0631 ARK0632 ARK0633 ARK0634 ARK0635 ARK0636 ARK0637 ARK0638 ARK0639 ARK0640
ARK0641 ARK0642 ARK0643 ARK0644 ARK0645 ARK0646 ARK0647 ARK0648 ARK0649 ARK0650 ARK0651 ARK0652 ARK0653 ARK0654 ARK0655 ARK0656 ARK0657 ARK0658 ARK0659 ARK0660
ARK0661 ARK0662 ARK0663 ARK0664 ARK0665 ARK0666 ARK0667 ARK0668 ARK0669 ARK0670 ARK0671 ARK0672 ARK0673 ARK0674 ARK0675 ARK0676 ARK0677 ARK0678 ARK0679 ARK0680
ARK0681 ARK0682 ARK0683 ARK0684 ARK0685 ARK0686 ARK0687 ARK0688 ARK0689 ARK0690 ARK0691 ARK0692 ARK0693 ARK0694 ARK0695 ARK0696 ARK0697 ARK0698 ARK0699 ARK0700
ARK0701 ARK0702 ARK0703 ARK0704 ARK0705 ARK0706 ARK0707 ARK0708 ARK0709 ARK0710 ARK0711 ARK0712 ARK0713 ARK0714 ARK0715 ARK0716 ARK0717 ARK0718 ARK0719 ARK0720
ARK0721 ARK0722 ARK0723 ARK0724 ARK0725 ARK0726 ARK0727 ARK0728 ARK0729 ARK0730 ARK0731 ARK0732 ARK0733 ARK0734 ARK0735 ARK0736 ARK0737 ARK0738 ARK0739 ARK0740
ARK0741 ARK0742 ARK0743 ARK0744 ARK0745 ARK0746 ARK0747 ARK0748 ARK0749 ARK0750 ARK0751 ARK0752 ARK0753 ARK0754 ARK0755 ARK0756 ARK0757 ARK0758 ARK0759 ARK0760
ARK0761 ARK0762 ARK0763 ARK0764 ARK0765 ARK0766 ARK0767 ARK0768 ARK0769 ARK0770 ARK0771 ARK0772 ARK0773 ARK0774 ARK0775 ARK0776 ARK0777 ARK0778 ARK0779 ARK0780
ARK0781 ARK0782 ARK0783 ARK0784 ARK0785 ARK0786 ARK0787 ARK0788 ARK0789 ARK0790 ARK0791 ARK0792 ARK0793 ARK0794 ARK0795 ARK0796 ARK0797 ARK0798 ARK0799 ARK0800
ARK0801 ARK0802 ARK0803 ARK0804 ARK0805 ARK0806 ARK0807 ARK0808 ARK0809 ARK0810 ARK0811 ARK0812 ARK0813 ARK0814 ARK0815 ARK0816 ARK0817 ARK0818 ARK0819 ARK0820
ARK0821 ARK0822 ARK0823 ARK0824 ARK0825 ARK0826 ARK0827 ARK0828 ARK0829 ARK0830 ARK0831 ARK0832 ARK0833 ARK0834 ARK0835 ARK0836 ARK0837 ARK0838 ARK0839 ARK0840
ARK0841 ARK0842 ARK0843 ARK0844 ARK0845 ARK0846 ARK0847 ARK0848 ARK0849 ARK0850 ARK0851 ARK0852 ARK0853 ARK0854 ARK0855 ARK0856 ARK0857 ARK0858 ARK0859 ARK0860
ARK0861 ARK0862 ARK0863 ARK0864 ARK0865 ARK0866 ARK0867 ARK0868 ARK0869 ARK0870 ARK0871 ARK0872 ARK0873 ARK0874 ARK0875 ARK0876 ARK0877 ARK0878 ARK0879 ARK0880
ARK0881 ARK0882 ARK0883 ARK0884 ARK0885 ARK0886 ARK0887 ARK0888 ARK0889 ARK0890 ARK0891 ARK0892 ARK0893 ARK0894 ARK0895 ARK0896 ARK0897 ARK0898 ARK0899 ARK0900
ARK0901 ARK0902 ARK0903 ARK0904 ARK0905 ARK0906 ARK0907 ARK0908 ARK0909 ARK0910 ARK0911 ARK0912 ARK0913 ARK0914 ARK0915 ARK0916 ARK0917 ARK0918 ARK0919 ARK0920
ARK0921 ARK0922 ARK0923 ARK0924 ARK0925 ARK0926 ARK0927 ARK0928 ARK0929 ARK0930 ARK0931 ARK0932 ARK0933 ARK0934 ARK0935 ARK0936 ARK0937 ARK0938 ARK0939 ARK0940
ARK0941 ARK0942 ARK0943 ARK0944 ARK0945 ARK0946 ARK0947 ARK0948 ARK0949 ARK0950 ARK0951 ARK0952 ARK0953 ARK0954 ARK0955 ARK0956 ARK0957 ARK0958 ARK0959 ARK0960
ARK0961 ARK0962 ARK0963 ARK0964 ARK0965 ARK0966 ARK0967 ARK0968 ARK0969 ARK0970 ARK0971 ARK0972 ARK0973 ARK0974 ARK0975 ARK0976 ARK0977 ARK0978 ARK0979 ARK0980
ARK0981 ARK0982 ARK0983 ARK0984 ARK0985 ARK0986 ARK0987 ARK0988 ARK0989 ARK0990 ARK0991 ARK0992 ARK0993 ARK0994 ARK0995 ARK0996 ARK0997 ARK0998 ARK0999 ARK1000
ARK1001 ARK1002 ARK1003 ARK1004 ARK1005 ARK1006 ARK1007 ARK1008 ARK1009 ARK1010 ARK1011 ARK1012 ARK1013 ARK1014 ARK1015 ARK1016 ARK1017 ARK1018 ARK1019 ARK1020
ARK1021 ARK1022 ARK1023 ARK1024 ARK1025 ARK1026 ARK1027 ARK1028 ARK1029 ARK1030 ARK1031 ARK1032 ARK1033 ARK1034 ARK1035 ARK1036 ARK1037 ARK1038 ARK1039 ARK1040
ARK1041 ARK1042 ARK1043 ARK1044 ARK1045 ARK1046 ARK1047 ARK1048 ARK1049 ARK1050 ARK1051 ARK1052 ARK1053 ARK1054 ARK1055 ARK1056 ARK1057 ARK1058 ARK1059 ARK1060
ARK1061 ARK1062 ARK1063 ARK1064 ARK1065 ARK1066 ARK1067 ARK1068 ARK1069 ARK1070 ARK1071 ARK1072 ARK1073 ARK1074 ARK1075 ARK1076 ARK1077 ARK1078 ARK1079 ARK1080
ARK1081 ARK1082 ARK1083 ARK1084 ARK1085 ARK1086 ARK1087 ARK1088 ARK1089 ARK1090 ARK1091 ARK1092 ARK1093 ARK1094 ARK1095 ARK1096 ARK1097 ARK1098 ARK1099 ARK1100
ARK1101 ARK1102 ARK1103 ARK1104 ARK1105 ARK1106 ARK1107 ARK1108 ARK1109 ARK1110 ARK1111 ARK1112 ARK1113 ARK1114 ARK1115 ARK1116 ARK1117 ARK1118 ARK1119 ARK1120
ARK1121 ARK1122 ARK1123 ARK1124 ARK1125