In [ ]:
type([1, 2, 3, 4])

### range() function

The Python range() function returns a sequence of numbers.
<br>Syntax: range(start, stop, step)
<br>start- optional, default: 0
<br>stop- range() returns a sequence till stop-1
<br>step- optional, default: 1

In [ ]:
range(5) # only one parameter, hence stop=5

In [ ]:
type(range(5))

In [ ]:
list(range(5))

In [ ]:
type([0, 1, 2, 3, 4])

In [ ]:
range(10,20)  # two parameters, hence start= 10 and stop=20

range(10, 20)

In [ ]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
range(10, 20, 2) # three parameters, which means start= 10, stop=20 and step= 2

range(10, 20, 2)

In [ ]:
list(range(10, 20, 2))

[10, 12, 14, 16, 18]

In [ ]:
list(range(10, 1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
list(range(10, 1, -2))

[10, 8, 6, 4, 2]

In [ ]:
list(range(10, 1))

[]

In [ ]:
list(range(100, 1000, 60))

[100, 160, 220, 280, 340, 400, 460, 520, 580, 640, 700, 760, 820, 880, 940]

In [ ]:
list(range(0,40,5))

[0, 5, 10, 15, 20, 25, 30, 35]

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
i = 0
while i<40:
  print(i, end=",")
  i = i+5

0,5,10,15,20,25,30,35,

In [ ]:
for i in range(0,40,5):
  print(i, end=",")

0,5,10,15,20,25,30,35,

In [ ]:
for file in ["file1.txt", "file2.txt", "123.txt", "1234.ipynb"]:
  print(file)
  print("123")
  sum = 4 +5
  print(sum)

file1.txt
123
9
file2.txt
123
9
123.txt
123
9
1234.ipynb
123
9

## for loop

A for loop is used for iterating over a sequence.

In [ ]:
for num in range(5, 20, 3):
    print(num)

5
8
11
14
17

In [ ]:
for num in range(1, 11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
s = "Python"
for ch in s:
    print(ch)

P
y
t
h
o
n

## in/ not in operator

Known as menbership operators.
Checks if an item is present/ not present in a sequence and returns True or False.

In [ ]:
'@' not in "liji.gmail.com"   # True if not present

True

In [ ]:
'a' not in 'Python'

True

In [ ]:
3 in range(0,10,3)     # True if present

True

In [ ]:
4 not in range(1,4)

True

### break and continue with for loop

In [ ]:
for i in range(10, 20):
    if i == 15:
        break    # exit from loop
    print(i)

10
11
12
13
14

In [ ]:
for i in range(10, 20):
    if i == 15:
        continue   # continue to beginning of loop
    print(i)

10
11
12
13
14
16
17
18
19

### else with for loop

else in a loop is executed only if the loop completes execution without any interruption in between

In [ ]:
for ch in "hbm,b.nk.jnl.nlkjlfsredtyughh;lkjl;kjlkjlkhkhfdyuruyohl;kjjgfgkhjghjkljb":
    if ch=='a':
        break    # if this break is executed else for be executed
    print(ch)
else:
    print("a is not there")

print("I am out")

h
b
m
,
b
.
n
k
.
j
n
l
.
n
l
k
j
l
f
s
r
e
d
t
y
u
g
h
h
;
l
k
j
l
;
k
j
l
k
j
l
k
h
k
h
f
d
y
u
r
u
y
o
h
l
;
k
j
j
g
f
g
k
h
j
g
h
j
k
l
j
b
a is not there
I am out

In [ ]:
for num in range(1, 10, 2):
    if num==2:
        break
    print(num)
else:
    print("2 not in the range")

1
3
5
7
9
2 not in the range

### Else with while

In [ ]:
blacklisted = ["user1", "user2", "user3"]
count = 1
while count<=3:
  user_name = input("Enter user name")
  if user_name in blacklisted:
    print("Blacklisted")
    break
  password = input("Enter password") 
  if user_name == "admin"  and password == "admin":
    print("Logged in successfully")
    break
  else:
    print("Incorrect user name or password")
  count+=1
else:
  print("Login unsuccessful")